@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Dana"; /*400*/
    src: url("/fonts/Dana/woff2/DanaFaNum-Regular.woff2");
  }
  @font-face {
    font-family: "Dana Medium"; /*500*/
    src: url("/fonts/Dana/woff2/DanaFaNum-Medium.woff2");
  }
  @font-face {
    font-family: "Dana DemiBold"; /*600*/
    src: url("/fonts/Dana/woff2/DanaFaNum-DemiBold.woff2");
  }
  @font-face {
    font-family: "Morabba Light"; /*300*/
    src: url("/fonts/Morabba/woff2/Morabba-Light.woff2");
  }
  @font-face {
    font-family: "Morabba Medium"; /*500*/
    src: url("/fonts/Morabba/woff2/Morabba-Medium.woff2");
  }
  @font-face {
    font-family: "Morabba Bold"; /*700*/
    src: url("/fonts/Morabba/woff2/Morabba-Bold.woff2");
  }
}

@layer components {
  .icon {
    @apply w-12 h-12 cursor-pointer;
  }
  .icon-lg {
    @apply w-10 h-10 cursor-pointer;
  }
  .icon-md {
    @apply w-8 h-8 cursor-pointer;
  }
  .icon-sm {
    @apply w-5 h-5 cursor-pointer;
  }
  .flex-center {
    @apply flex items-center justify-center;
  }
  .nav-link {
    @apply text-xl text-gray-300 font-DanaMedium tracking-tightest leading-[56px] transition-colors;
  }
  .nav-link:hover {
    @apply text-orange-200;
  }
  .nav-sublink {
    @apply text-base font-DanaMedium text-zinc-700 dark:text-white tracking-normal transition-colors;
  }
  .nav-sublink:hover,
  .nav-sublink.active {
    @apply text-orange-300;
  }
  .mobile-navlink {
    @apply flex items-center gap-x-2 px-3;
  }
  .mobile-navlink.active {
    @apply bg-orange-200/20 dark:bg-orange-200/20 text-orange-300 rounded-md py-2;
  }
  .btn-teal {
    @apply bg-teal-600 dark:bg-emerald-500 transition-colors hover:bg-teal-700 dark:hover:bg-emerald-600 text-white tracking-tightest py-3 px-6 rounded-lg;
  }
  .btn-gradient {
    @apply transition-colors hover:bg-gradient-to-r from-orange-200 to-orange-300 hover:text-zinc-700 border border-orange-300 rounded-lg px-2 py-1.5;
  }
  .btn-form {
    @apply text-orange-300 text-link md:text-regular btn-gradient rounded-lg hover:text-white w-full;
  }
  .text-regular {
    @apply text-base tracking-normal font-DanaMedium;
  }
  .text-title {
    @apply text-3xl tracking-normal font-MorabbaBold;
  }
  .text-subtitle {
    @apply text-xl tracking-tight font-DanaDemiBold;
  }
  .text-link {
    @apply text-xs tracking-tight font-DanaMedium;
  }
  .submenu-box {
    @apply opacity-0 invisible group-hover:opacity-100 group-hover:visible bg-white dark:bg-zinc-700 shadow-lg rounded-2xl border-t-orange-300 border-t-[3px] transition-all p-5;
  }
  .dash-list-style {
    @apply inline-block w-2.5 h-1 ml-2 md:ml-3 rounded-full bg-gray-300;
  }
  .section-title {
    @apply font-MorabbaMedium text-2xl md:text-4xl text-zinc-700 dark:text-orange-300;
  }

  .section-subtitle {
    @apply font-MorabbaLight text-lg md:text-2xl text-zinc-700 dark:text-orange-300 mt-1.5;
  }

  .section-link {
    @apply flex items-center md:gap-x-px py-2 pr-3 pl-1 hover:bg-orange-300/20 rounded-md transition-colors font-Dana text-base md:text-xl tracking-tightest text-orange-300;
  }

  .form-input {
    @apply outline-none bg-transparent border border-orange-300 rounded-lg px-3 py-1.5 text-zinc-700 dark:text-white text-regular shadow-custom;
  }
  .baner {
    @apply bg-center bg-cover bg-no-repeat w-full h-[50vw] relative;
  }

  .slider-height {
    height: calc((100% - 300px) / 2);
  }

  .product-shadow {
    box-shadow: rgb(253, 186, 116) 1.95px 1.95px 2.6px;
  }

  .border-shadow {
    box-shadow: rgba(253, 186, 116, 0.4) 0px 5px,
      rgba(253, 186, 116, 0.3) 0px 10px, rgba(253, 186, 116, 0.2) 0px 15px,
      rgba(253, 186, 116, 0.1) 0px 20px, rgba(253, 186, 116, 0.05) 0px 25px;
  }
}
